*{
    margin: 0;
    padding: 0;
}
#body{
    position: relative;
}
.blocking{
    display: none;
}
#btn{
    background-image: url(./play.png);
    background-size: cover;
    height: 90px;
    background-repeat: no-repeat;
    width: 90px;
    background-color: #fff9;
    border: none;
    border-radius: 160px;
    cursor: pointer;
}
#btn:hover{
    /* box-shadow: 1px 1px 10px black; */
    transform: scale(1.1);
}
#nav-h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}
nav{
    display: flex;
    background-color: #000;
    align-items: center;
    height:70px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    position: relative;
}
.gameContainer{
    display:grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
.gameInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.border{
    display: flex;
    border:2px solid black;
    font-size: 50px;
    padding:10px;
    align-items: center;
    justify-content: center;
}
.border:hover{
    background-color: cornsilk;
    cursor: pointer;
}
.bt{
    border-top:0 ;
}
.bb{
    border-bottom:0 ;
}
.bl{
    border-left:0 ;
}
.br{
    border-right:0 ;
}
.info{
    margin-bottom: 30px;
}
.info1{
    font-weight: bold;
    font-size: 25px;
}
.reset-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#h3{
    color: white;
    background-color: #000;
    padding: 5px;
}
a{
    color: white;
    text-decoration: none;
}
#ul{
    list-style: inside;
    margin-left: 10px;
}
#instruction{
    margin-top: 30px;
    padding-bottom: 30px;
}
@media screen and (max-width: 700px) {
    .container{
      flex-wrap: wrap;
    }
    .gameInfo{
        margin:20px
    }
    .gameContainer{
        grid-template-columns: repeat(3,15vw);
    grid-template-rows: repeat(3,15vw);
    }
  }
